.header {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.container {
    .function button {
        cursor: pointer;
        border: none;
        padding: 10px;
        font-size: large;
    }
}