:root {
  color-scheme: light;
}

.register-topic-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}

.register-form input,
.register-form textarea,
.register-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.btn-register,
.btn-cancel {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-register {
  background-color: #28a745;
  color: white;
}

.btn-cancel {
  background-color: #dc3545;
  color: white;
}