.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
        font-size: 1.2rem;
        font-weight: 500;
        color: #333;
    }

    input {
        padding: 10px;
        border: none;
        width: 75%;
    }
}