.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .card_item {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    // .card_item:hover {
    //     transform: scale(1.5);
    // }
}